@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20em;
}
@mixin textbox {
    background-color: white;
    enable-background: isolation;
    opacity: .6;
}

body{  
    background-image: url("https://picsum.photos/id/1006/3000/2000");
 
}

.container{
    @include center();

    .titulo{
        @include textbox();
        font-size: 80px;
    }
}