$background: green;
$background2: yellow;
@mixin set-dimensions($width,$height) {
    width: $width;
    height: $height;
}

nav{
    @include set-dimensions(100%,auto);

    display: flex;

    flex-flow: row wrap;
    justify-content: flex-end;

    .btn{
        color: aqua;
        margin: 0.5em;
        padding: 0.8em;
        border-radius: 0.5em;   
        box-shadow: 1px 1px 1px orange;
    }

    .source{
        background: $background;
    }

    .site{
        background: $background2;
    }

}